mixin demo()
	section.demo
		ul.demo__slider.js-demo-slider
			li.demo__slide
				a(href="#")
					img.demo__img(src="img/content/demo-photo-1.jpg" alt="Установка подвесных потолков" width="320" height="209")
					h3.demo__title Установка подвесных потолков
			li.demo__slide
				a(href="#")
					img.demo__img(src="img/content/demo-photo-2.jpg" alt="Ремонт мебели" width="320" height="209")
					h3.demo__title Ремонт мебели
			li.demo__slide
				a(href="#")
					img.demo__img(src="img/content/demo-photo-3.jpg" alt="Установка дверей" width="320" height="209")
					h3.demo__title Установка дверей
			li.demo__slide
				a(href="#")
					img.demo__img(src="img/content/demo-photo-4.jpg" alt="Работа с электричеством" width="320" height="209")
					h3.demo__title Работа с электричеством
