mixin dilers()
		section.dilers.containerno
			h2.dilers__title Покупайте Bosch GO у наших официальных дилеров
			ul.dilers__slider.js-dilers-slider
				li
					.dilers__card
						a(href="#").dilers__name Мир инфтрумента
						span.dilers__price 5 324 грн
						a(href="#").dilers__more.btn.btn--violet Подробнее
				li
					.dilers__card
						a(href="#").dilers__name boschTools.ua
						span.dilers__price 5 324 грн
						a(href="#").dilers__more.btn.btn--violet Подробнее
				li
					.dilers__card
						a(href="#").dilers__name shurup.ua
						span.dilers__price 5 324 грн
						a(href="#").dilers__more.btn.btn--violet Подробнее
				li
					.dilers__card
						a(href="#").dilers__name SeaTools
						span.dilers__price 5 324 грн
						a(href="#").dilers__more.btn.btn--violet Подробнее
