mixin features-more()
	section.features-more
		.features-more__bg-image
			img(src="img/content/man.jpg")
		.container
			.row
				.col-9
					ul.features-more__list
						li.features-more__item
							.features-more__img
								img.features-more__icon(src="img/icon/icon-universal.svg" alt="Производительная" width="56" height="59")
							.features-more__content
								span.features-more__title Универсальная
								p.features-more__description Шесть ступеней регулировки крутящего широкого спектра работ
						li.features-more__item
							.features-more__img
								img.features-more__icon(src="img/icon/icon-compact.svg" alt="Универсальная" width="57" height="54")
							.features-more__content
								span.features-more__title Компактная
								p.features-more__description Малые габариты и вес — легко носить его в кармане
						li.features-more__item
							.features-more__img
								img.features-more__icon(src="img/icon/icon-productivity.svg" alt="Компактная" width="69" height="47")
							.features-more__content
								span.features-more__title Производительная
								p.features-more__description До 300 шурупов на одном заряде аккумулятора
