// В этом файле должны быть стили для БЭМ-блока .features-nore , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.features-more {
	position: relative;
	padding-top: 40px;
	overflow: hidden;
	@media (min-width: $screen-md) {
		padding-top: 84px;
		padding-bottom: 39px;
	}
	@media(min-width: $screen-xl) {
		padding-top: 173px;
		padding-bottom: 155px;
	}
	&__bg-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../img/content/man.jpg) center 40% no-repeat;
		background-size: cover;
		transform: translate(19%, 17%) scale(1.5);
		@media (min-width: $screen-md) {
			transform: none;
		}
	}
	&__list {
		@media (min-width: $screen-md) {
			padding-left: 19px;
		}
	}
	&__item {
		margin-bottom: 30px;
		max-width: 200px;
		&:nth-child(1) {
			img {
				max-width: 57px;
			}
		}
		&:nth-child(2) {
			img {
				max-width: 56px;
			}
		}
		&:nth-child(3) {
			img {
				max-width: 69px;
			}
		}
		@media (min-width: $screen-md) {
			display: flex;
			align-items: center;
			max-width: 380px;
			margin-bottom: 45px;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				img {
					max-width: 100%;
				}
			}

		}
		@media(min-width: $screen-xl) {
			margin-bottom: 46px;
			max-width: 420px;
			opacity: 0;
			transform: translateY(-40px);
			&:nth-child(1) {
				transition: all .5s ease;
			}
			&:nth-child(2) {
				transition: all .5s ease .20s;
			}
			&:nth-child(3) {
				transition: all .5s ease .40s;
			}
		}
	}
	&__img {
		display: block;
		margin-bottom: 3px;
		@media (min-width: $screen-md) {
			max-width: 77px;
			width: 100%;
			margin-bottom: 0;
			margin-right: 23px;
		}
		@media(min-width: $screen-xl) {
			max-width: 149px;
			padding-left: 42px;
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 300;
		line-height: 38px;
		letter-spacing: -0.3px;
		@media (min-width: $screen-md) {
			display: block;
			margin-bottom: 9px;
			font-size: 28px;
			line-height: 1.642;
			letter-spacing: -0.42px;
		}
		@media(min-width: $screen-xl) {
			font-size: 28px;
			line-height: 1.642;
			letter-spacing: -0.42px;
		}
	}
	&__description {
		line-height: 1.428;
	}
}