mixin about-company()
	section.about-company
		.container
			h2.about-company__title О Bosch GO пишут
			ul.about-company__list
				li.about-company__item
					a(href="#").about-company__link
						img(src="img/logo-1.png" alt="Люблинское поле")
				li.about-company__item
					a(href="#").about-company__link
						img(src="img/partners-logo-2.png" alt="OBI")
				li.about-company__item
					a(href="#").about-company__link
						img(src="img/partners-logo-3.png" alt="Leroy Merlin")
				li.about-company__item
					a(href="#").about-company__link
						img(src="img/partner-logo-4.png" alt="castorama")
				li.about-company__item
					a(href="#").about-company__link
						img(src="img/partners-logo-5.png" alt="Петрович")


