mixin promo()
  .promo.noise-gradient
    .promo__top-line
    .promo__head
      header.promo__header
        .container
          .promo__logo
            picture
              img(src="img/logo-lg.png" width="79" height="26" alt="Bosch - разработано для жизни")
      .container
      picture
        img.promo__psevdo-logo(src="img/psevdo-logo.png" width="212" height="48" alt="Эволюция твоего инструмента")
      h1.promo__title Эволюция твоего инструмента
      .promo__hand
        picture
          img(src="img/hand.png")
      .container
        button.promo__btn.btn(type="submit") Смотреть промо-ролик


