mixin promo()
  .promo.noise-gradient
    header.promo__header
      .container
        .row.justify-content-between.align-items-center
          .col-auto
            .promo__logo
              picture
                source(media="(min-width: 1344px)" srcset="img/logo-md.png")
                img(src="img/logo-lg.png" width="79" height="26" alt="Bosch - разработано для жизни")
          .col-auto
            a(href="#").btn.btn--violet.yandex-btn Купить на Яндекс.Маркет
    .container
    picture
      img.promo__psevdo-logo(src="img/psevdo-logo.png" width="212" height="48" alt="Эволюция твоего инструмента")
    h1.promo__title Эволюция твоего инструмента
    .promo__hand
      picture
        img(src="img/hand.png")
    .container
      button.promo__btn.btn(type="button") Смотреть промо-ролик


