.promo {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 24px;
	text-align: center;
	padding-top: 16px;
	background-image: -moz-radial-gradient(50% 50%, circle closest-side, #0f5a8d 30%, #0a3959 100%);
	background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #0f5a8d 30%, #0a3959 100%);
	background-image: -ms-radial-gradient(50% 50%, circle closest-side, #0f5a8d 30%, #0a3959 100%);
	overflow: hidden;
	min-height: 100vh;
	@media (min-width: $screen-md) {
		padding-bottom: 111px;
	}
	@media(min-width: $screen-xl) {
		padding-bottom: 94px;
	}
	&::after {
		top: 16px;
	}
	&::before {
		content: '';
		position: absolute;
		height: 16px;
		left: 0;
		right: 0;
		top: 0;
		background: url(../img/gradient.png) left center no-repeat;
		background-size: 100% 16px;
	}
	&__logo,
	&__title,
	&__hand,
	&__btn {
		position: relative;
		z-index: 1;
	}
	&__header {
		transition: .2s ease;
		.yandex-btn {
			padding: 11px 24px 11px 24px;
			margin-bottom: 0;
			font-size: 12px;
			opacity: 0;
			visibility: hidden;
			transition: .2s ease;
			svg {
				display: none;
				@media (min-width: $screen-md) {
					display: block;
				}
			}
			@media (min-width: $screen-md) {
				width: auto;
				height: auto;
				border: 1px solid #005691;
				font-size: 14px;
				padding: 0 32px 1px 56px;
				line-height: 49px;
			}
		}
		&.show {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			background-color: #ffffff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			z-index: 10;
			.yandex-btn {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__logo {
		max-width: 96px;
		width: 100%;
		padding: 8px 0 11px 6px;
		background-color: #fff;
		@media (min-width: $screen-md) {
			max-width: 193px;
			padding: 18px 11px 19px 23px;
		}
		@media(min-width: $screen-xl) {
			max-width: 205px;
			padding: 19px 12px 21px 23px;
		}
	}
	&__hand {
		margin-top: -50px;
		@media (min-width: $screen-md) {
			margin-top: -200px;
			margin-bottom: 34px;
		}
		@media(min-width: $screen-xl) {
			margin-top: -178px;
			opacity: 0;
			transform: translateX(800px);
			transition: all 1.7s ease-out .3s;
		}
		img {
			object-fit: cover;
			min-height: 185px;
			object-position: -8% 0;
			@media (min-width: $screen-sm) {
				object-position: 0 0;
			}
			@media (min-width: $screen-md) {
				object-position: 15% 0;
				min-height: 655px;
			}
			@media(min-width: $screen-xl) {
				min-height: 580px;
				object-position: -7% 0;

			}
			@media (min-width: 1800px) {
				object-position: -220% 0;
			}
		}
	}
	&__title {
		max-width: 180px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		z-index: 2;
		@media (min-width: $screen-md) {
			max-width: 100%;
			margin-top: -24px;
		}
		@media(min-width: $screen-xl) {
			opacity: 0;
			transform: translateY(-30px);
			transition: all .6s ease-out;
		}
	}

	&__psevdo-logo {
		z-index: 2;
		padding-top: 20px;
		@media (min-width: $screen-md) {
			padding-top: 43px;
			max-width: 454px;
			width: 100%;
		}
		@media(min-width: $screen-xl) {
			margin-top: -34px;
			margin-bottom: 6px;
			padding-top: 0;
			max-width: 408px;
		}
	}
	&__btn {
		margin-top: -7px;
		@media (min-width: $screen-md) {
			margin-top: 0;
			max-width: 272px;
		}
		@media(min-width: $screen-xl) {
			margin-top: -24px;
			opacity: 0;
			transform: translateY(40px);
			transition: transform .4s ease-in 2s, opacity .4s ease-in 2s, background-color .2s ease;
		}
	}
}