@import "settings/variables";
@import "../../node_modules/bootstrap/scss/mixins/transition";

body {
	font: 14px/1.428 "Bosch Sans", sans-serif;
	color: $primary;
	min-width: 320px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1, h2 {
	margin-top: 0;
	@media (min-width: $screen-md) {
		text-align: center;
	}
}

h1 {
	font-size: $font-size-h1;
	line-height: 1.333;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	@media (min-width: $screen-md) {
		font-size: 36px;
		line-height: 1.833;
	}
	@media(min-width: $screen-xl) {
		font-size: 50px;
	}
}

h2 {
	font-size: $font-size-h2;
	line-height: 1.25;
	letter-spacing: -0.36px;
	font-weight: 300;
	@media (min-width: $screen-md) {
		font-size: 36px;
		letter-spacing: -0.54px;
		line-height: 1.277;
		text-align: left;
	}
	@media(min-width: $screen-xl) {
		font-size: 46px;
		line-height: 1.260;
	}
}

h3 {
	margin-top: 0;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -0.3px;
	line-height: 1.2;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

svg {
	display: inline-block;
	background-color: transparent;
	vertical-align: middle;
	fill: currentColor;
	position: relative;
	top: -1px;
}

a {
	color: #005691;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

p {
	margin-top: 0;
	font-size: 14px;
	line-height: 22px;
}

.visible {
	@include invisible(visible);
}

.invisible {
	@include invisible(hidden);
}

.hidden {
	display: none !important;
}

//Стили bootstrap collapse
.collapse {
	display: none;
	&.show {
		display: block;
	}
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	@include transition($transition-collapse);
}

//Стили для картинок до их загрузки при использовании плагина LazySize
.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.fade-box .lazyload,
.fade-box .lazyloading {
	opacity: 0;
	transition: opacity 400ms;
}

.fade-box img.lazyloaded {
	opacity: 1;
}

.container {
	padding-right: 24px;
	padding-left: 24px;
}
.slider-arrows {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	font-size: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
	cursor: pointer;
	svg {
		width: 100%;
		height: 100%;
		fill: #b5b6ba;
		transition: .2s ease-in;
	}
	&:hover {
		svg {
			fill: #005691;
		}
	}
	&:focus {
		outline: none;
	}
	&--prev {
		left: -50px;
	}
	&--next {
		right: -50px;
	}
}
.slick-dots {
	padding-top: 18px;
	display: flex;
	justify-content: center;
	font-size: 0;
	.slick-active button::before {
		background-color: #005691;
	}
	button {
		position: relative;
		width: 18px;
		height: 18px;
		border: none;
		background-color: transparent;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6px;
			height: 6px;
			background-color: #c6c6c6;
			border-radius: 50%;
		}
		&:focus {
			outline: none;
		}
	}

}

.noise-gradient {
	position: relative;
	background-image: linear-gradient(to bottom, rgba(#fff, .6), rgba(#dce0e2, .6));

	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		left: 0;
		background: url(../../img/noise_pattern.png) 0 0 repeat;
		opacity: .5;
	}
}

.z-index {
	position: relative;
	z-index: 1;
}
.w-100 {
	width: 100%;
}
.yandex-btn {
	position: relative;
	width: 100%;
	margin-bottom: 23px;
	padding: 13px 32px 14px 56px;
	@media (min-width: $screen-md) {
		width: 297px;
		margin-bottom: 0;
	}
	svg {
		position: absolute;
		top: 50%;
		left: 36px;
		width: 23px;
		height: 24px;
		transform: translate(-50%, -50%);
		fill: #477abd;
		transition: .2s ease-in;
	}
	&:hover {
		svg{
			fill: #fff;
		}
	}
}
.modal-backdrop{
	background-color: rgba(#0a1926, .9);
}
.modal-backdrop.show {
	opacity: .6;
}