mixin reviews()
	.reviews.noise-gradient
		.container.z-index
			h2.reviews__title О Bosch GO говорят
			ul.reviews__slider.js-reviews-slider
				li.reviews__slide
					.reviews__video.embed-responsive.embed-responsive-16by9
						iframe( class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XjAzX8ddkLY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					h3.reviews__desc Bosch GO — The Only Smart Screwdriver. A Simple Push. A Perfect Finish!
					span.reviews__name Sergey Shevelyov
					.reviews__text
						p
							| Bosch GO не имеет выключателя ON / OFF, и единственным механизмом,
							| на котором она работает, является ... «Нажатие», чтобы закрутить шуруп. Даже
							|	в обратном режиме он использует тот же механизм,
							| чтобы отвинтить шуруп. Крутящий момент (от 2,5 до 5Нм) может быть отрегулирован на 6 уровнях, и обороты —
							| 360 об/мин.          читать далее
					button.reviews__read-more(type="button") читать далее

				li.reviews__slide
					.reviews__video.embed-responsive.embed-responsive-16by9
						iframe( class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XjAzX8ddkLY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					h3.reviews__desc Bosch GO — The Only Smart Screwdriver. A Simple Push. A Perfect Finish!
					span.reviews__name Sergey Shevelyov
					.reviews__text
						p
							| Bosch GO не имеет выключателя ON / OFF, и единственным механизмом,
							| на котором она работает, является ... «Нажатие», чтобы закрутить шуруп. Даже
							|  в обратном режиме он использует тот же механизм,
							| чтобы отвинтить шуруп. Крутящий момент (от 2,5 до 5Нм) может быть отрегулирован на 6 уровнях, и обороты —
							| 360 об/мин.          читать далее
					button.reviews__read-more(type="button") читать далее