// В этом файле должны быть стили для БЭМ-блока .btn , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 
@import "../../sass/settings/variables";

.btn {
	position:relative;
	display: inline-block;
	vertical-align: top;
	padding: 11px 32px 13px 32px;
	width: 100%;
	border: 1px solid #ffffff;
	text-decoration: none;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	transition: .2s ease-in;
	cursor: pointer;
	z-index: 1;
	&:hover {
		background-color: #005691;
		text-decoration: none;
	}
	&--violet {
		border: 1px solid #005691;
		color: #005691;
		&:hover {
			background-color: #005691;
			color: #fff;
		}
		&-no-hover {
			&:hover {
				background-color: transparent;
				color: #005691; 
			}
		}
	}
	&--violet-fill {
		outline: 1px solid #fff;
		color: #fff;
		background-color: #005691;
		&:hover {
			color: #fff;
			background-color: #005691;
		}
	}

}