// В этом файле должны быть стили для БЭМ-блока .btn , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 
@import "../../sass/settings/variables";

.btn {
	display: inline-block;
	padding: 10px 32px 14px 32px;
	width: 100%;
	border: 1px solid #ffffff;
	vertical-align: top;
	text-decoration: none;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	transition: .3s ease-in;
	cursor: pointer;
	&:hover {
		background-color: #005691;
	}
	&:active {
	}
	&--violet {
		border: 1px solid #005691;
		color: #005691;
		&:hover {
			background-color: #005691;
			color: #fff;
		}
	}
}