.performance {
	padding-top: 31px;
	padding-bottom: 30px;
	@media (min-width: $screen-md) {
		padding-bottom: 17px;
		padding-top: 34px;
	}
	@media(min-width: $screen-xl) {
		padding-bottom: 91px;
	}
	&__title {
		margin-bottom: 22px;
		text-align: center;
		@media (min-width: $screen-md) {
			margin-bottom: 17px;
			max-width: 450px;
			margin-right: auto;
			margin-left: auto;
		}
		@media(min-width: $screen-xl) {
			max-width: 100%;
			margin-bottom: 26px;
			opacity: 0;
			transform: translateY(-40px);
			transition: all .5s ease;
		}

	}
	&__title-tech {
		text-align: center;
		margin-bottom: 30px;
		@media (min-width: $screen-md) {
			margin-bottom: 6px;
			font-size: 28px;
			line-height: 1.642;
			letter-spacing: -0.42px;
		}
		@media(min-width: $screen-xl) {
			margin-bottom: 36px;
			opacity: 0;
			transform: translateY(-40px);
			transition: all .5s ease;
		}
	}
	&__subtitle {
		margin-bottom: 24px;
		text-align: center;
		@media (min-width: $screen-md) {
			max-width: 690px;
			margin-bottom: 55px;
			font-size: 16px;
			line-height: 1.5;
		}
		@media(min-width: $screen-xl) {
			max-width: 787px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 74px;
			line-height: 1.75;
			opacity: 0;
			transform: translateY(-40px);
			transition: all .5s ease .35s;
		}
	}
	&__demo {
		position: relative;
		margin-right: -24px;
		margin-left: -24px;
		margin-bottom: 14px;
		z-index: 1;
		@media (min-width: $screen-md) {
			transform: skewY(360deg) rotateY(180deg);
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 16px;
		}
		@media(min-width: $screen-xl) {
			display: none;
			transform: skewY(360deg) rotateY(180deg) rotate(90deg);
		}
	}
	&__half {
		position: relative;
		min-height: 806px;
		@media (min-width: $screen-md) {
			min-height: 724px;
		}
		&--first {
			padding-left: 24px;
			@media (min-width: $screen-md) {
				padding-left: 32px;
			}
			@media(min-width: $screen-xl) {
				width: 340px;
				float: right;
				padding-left: 0;
			}
		}
		&--second {
			padding-right: 24px;
			@media (min-width: $screen-md) {
				padding-right: 32px;
			}
			@media(min-width: $screen-xl) {
				padding-right: 0;
				width: 340px;
			}
		}
	}
	.performance__list {
		position: relative;
		z-index: 1;
	}
	&__photo-inner {
		position: absolute;
		top: 0;
		height: 806px;
		@media (min-width: $screen-md) {
			z-index: -1;
			img {
				width: 69.7px;
			}
			transform: skewY(360deg) rotateY(180deg);

		}
		&--right {
			right: 0;
			width: 80px;
			img {
				@media (min-width: $screen-md) {
					width: 70.8px;
				}
			}

		}
		&--left {
			left: 0;
			width: 82px;
			@media (min-width: $screen-md) {
				left: -12px;
			}
		}
	}
	&__definitions {
		position: relative;
		padding-top: 16px;
		padding-bottom: 16px;
		&::before {
			content: '';
			position: absolute;
			height: 1px;
			background-color: #c6c6c6;
			left: 0;
			z-index: 1;
		}
		&::after {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #c6c6c6;
			z-index: 1;
		}
		span {
			display: block;
			max-width: 135px;
			letter-spacing: -0.21px;
			font-weight: 500;
			line-height: 20px;
			@media (min-width: $screen-md) {
				transform: skewY(360deg) rotateY(180deg);
				text-align: right;
				max-width: 155px;
			}
			@media(min-width: $screen-xl) {
				transform: skewY(0) translateY(40%) rotateY(180deg) rotate(90deg);
			}
		}
		&--right {

			span {
				text-align: right;
				margin-left: auto;
				@media (min-width: $screen-md) {
					transform: skewY(360deg) rotateY(180deg);
					text-align: left;
				}
			}
		}
	}
	&__list {

		/* Первая половина фото на мобильных, список определения*/
		&--first-half {
			.performance__definitions {
				&:first-child {
					padding-top: 99px;
					@media (min-width: $screen-md) {
						padding: 11px 11px 11px 0;
					}
					span {
						@media (min-width: $screen-md) {
							max-width: 125px;
						}
					}
					&::before {
						top: 85px;
						right: 6px;
						@media (min-width: $screen-md) {
							top: 64px;
							right: 9px;
						}
					}
					&::after {
						top: 83px;
						right: 5px;
						@media (min-width: $screen-md) {
							top: 62px;
							right: 7px;
						}
					}
				}
				&:nth-child(2) {
					padding-top: 227px;
					span {
						@media (min-width: $screen-md) {
							max-width: 195px;
						}
					}
					@media (min-width: $screen-md) {
						padding-top: 258px;
					}
					&::before {
						bottom: 3px;
						right: 48px;
						@media (min-width: $screen-md) {
							bottom: 4px;
							right: 45px;
						}
					}
					&::after {
						bottom: 1px;
						right: 48px;
						@media (min-width: $screen-md) {
							bottom: 3px;
							right: 45px;
						}
					}
				}
				&:nth-child(3) {
					padding-top: 170px;
					@media (min-width: $screen-md) {
						padding-top: 192px;
					}
					span {
						max-width: 195px;
					}
					&::before {
						bottom: 5px;
						right: 11px;
					}
					&::after {
						bottom: 3px;
						right: 11px;
					}
				}
			}
		}

		/* Вторая половина фото на мобильных, список определения*/
		&--second-half {
			@media (min-width: $screen-md) {
				padding-left: 0;
			}
			.performance__definitions {
				&::before {
					bottom: 4px;
					right: 0;
					left: auto;
				}
				&:first-child {
					padding-top: 52px;
					&::before {
						left: 13px;
					}
					&::after {
						bottom: 2px;
						left: 8px;
					}
				}
				&:nth-child(2) {
					padding-top: 173px;
					span {
						@media (min-width: $screen-md) {
							max-width: 170px;
						}
					}
					@media (min-width: $screen-md) {
						padding-top: 161px;
					}
					&::before {
						left: 61px;
						@media (min-width: $screen-md) {
							left: 48px;
						}
					}
					&::after {
						left: 58px;
						bottom: 2px;
						@media (min-width: $screen-md) {
							left: 44px;
						}
					}
				}
				&:nth-child(3) {
					padding-top: 112px;
					@media (min-width: $screen-md) {
						padding-top: 134px;
					}
					span {
						max-width: 190px;
						@media (min-width: $screen-md) {
							max-width: 197px;
						}
					}
					&::before {
						left: 61px;
						@media (min-width: $screen-md) {
							left: 10px;
						}
					}
					&::after {
						left: 58px;
						bottom: 2px;
						@media (min-width: $screen-md) {
							left: 5px;
						}
					}
				}
				&:nth-child(4) {
					padding-top: 62px;
					span {
						@media (min-width: $screen-md) {
							max-width: 200px;
						}
					}
					@media (min-width: $screen-md) {
						padding-top: 35px;
					}
					&::before {
						bottom: 2px;
						left: 10px;
						@media (min-width: $screen-md) {
							left: 0;
						}
					}
					&::after {
						bottom: 0;
						left: 5px;
						@media (min-width: $screen-md) {
							left: -4px;
						}
					}
				}
				&:nth-child(5) {
					padding-top: 38px;
					@media (min-width: $screen-md) {
						padding-top: 35px;
					}
					&::before {
						left: 13px;
						@media (min-width: $screen-md) {
							left: 12px;
						}
					}
					&::after {
						bottom: 2px;
						left: 11px;
						@media (min-width: $screen-md) {
							left: 7px;
						}
					}
				}
			}
		}
	}
	.slick-dots {
		padding-top: 25px;
	}
	&__tech-inner {
		@media(min-width: $screen-xl) {
			padding-right: 52px;
			padding-left: 52px;
		}
	}
	&__tech {
		@media(min-width: $screen-xl) {
			opacity: 0;
			transform: translateY(-40px);
			transition: all .5s ease .2s;
		}
	}
	&__row {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding-top: 9px;
		padding-bottom: 11px;
		border-bottom: 1px solid #c6c6c6;
		z-index: 1;
		@media (min-width: $screen-md) {
			align-items: center;
			padding-top: 12px;
			padding-bottom: 12px;
			min-height: 63px;
		}
		@media(min-width: $screen-xl) {
			width: 481px;
			min-height: 56px;
		}
		&--last {
			border-bottom: none;
		}

		&--last-md {
			border-bottom: none;
		}
	}
	&__name {
		max-width: 125px;
		span {
			display: block;
			@media(min-width: $screen-xl) {
				display: inline;
			}
		}
		@media (min-width: $screen-md) {
			max-width: 230px;
		}
		@media(min-width: $screen-xl) {
			max-width: 100%;
		}
	}
}

.performance-xl {
	display: none;
	position: relative;
	max-width: 992px;
	margin-right: auto;
	margin-left: auto;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	min-height: 538px;
	margin-bottom: 66px;
	@media(min-width: $screen-xl) {
		display: flex;
	}
	&__top-half,
	&__bottom-half {
		position:relative;
	}
	&__full {
		position: absolute;
		top: 67.8%;
		left: 49.3%;
		transform: translate(-50%, -50%);
		width: 999px;
		height: 183px;
		z-index: 1;
	}
	&__full-inner {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background-position:  0 bottom;
		background-repeat:  no-repeat;
		z-index: 2;
		min-height: 250px;
		will-change: min-height;
		transition: min-height 1.6s ease 1.2s;
		&.visible {
			min-height: 112px;
		}
	}
	&__img {
		position: absolute;
		top: 45.2%;
		left: 45.2%;
		margin-top: -82px;
		margin-left: -464px;
		width: 929px;
		height: 164px;
		z-index: -1;
		@media(min-width: $screen-xl) {
			opacity: 0;
			transform: translateY(-50px);
			transition: .5s ease .5s;
		}
	}
	&__row {
		position: relative;
		display: flex;
		flex-grow: 1;
		&--top {
			align-items: flex-start;
		}
		&--bottom {
			align-items: flex-end;
		}
	}
	&__row-inner {
		display: flex;
		width: 100%;

	}
	&__desc {
		position: relative;
		opacity: 0;
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			width: 1px;
			background-color: #c6c6c6;
		}
		&::after {
			content: '';
			position: absolute;
			left: 47.8%;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #c6c6c6;
		}
		span {
			display: block;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: -0.21px;
		}
		&-1 {
			left: 1.5%;
			transform: translateY(-20px);
			transition: all .3s ease 2.6s;
			&::before {
				height: 184px;
				top: 94%;
			}
			&::after {
				top: 394%;
			}
			span {
				max-width: 101px;
			}
		}
		&-2 {
			transform: translateY(-20px);
			transition: all .3s ease 2.8s;
			&::before {
				top: 121%;
				height: 123px;
			}
			&::after {
				top: 321%;
				left: 49%;
			}
			left: 33%;
			span {
				max-width: 197px;
			}
		}
		&-3 {
			transform: translateY(-20px);
			transition: all .3s ease 3s;
			&::before {
				top: 121%;
				height: 165px;
			}
			&::after {
				top: 233px;
				left: 49.1%;
			}
			left: 45.8%;
			span {
				max-width: 205px;
			}
		}
		&-4 {
			transform: translateY(20px);
			transition: all .3s ease 3.2s;
			&::before {
				bottom: 115%;
				left: 48.7%;
				height: 178px;
			}
			&::after {
				bottom: 265px;
				left: 47.5%;
			}
			left: 1.5%;
			span {
				width: 204px;
			}
		}
		&-5 {
			transform: translateY(20px);
			transition: all .3s ease 3.4s;
			&::before {
				height: 129px;
				bottom: 116%;
				left: 49%;
			}
			&::after {
				bottom: 220px
			}
			left: 8.2%;
			span {
				max-width: 165px;
			}
		}
		&-6 {
			transform: translateY(20px);
			transition: all .3s ease 3.6s;
			&::before {
				bottom: 114%;
				height: 183px;
			}
			&::after {
				bottom: 270px;
				left: 48.9%;
			}
			left: 18.2%;
			span {
				max-width: 195px;
			}
		}
		&-7 {
			transform: translateY(20px);
			transition: all .3s ease 3.8s;
			&::before {
				bottom: 124%;
				height: 122px;
			}
			&::after {
				bottom: 169px;
				left: 49%;
			}
			position: absolute;
			top: 46%;
			right: 13%;
			span {
				max-width: 185px;
			}
		}
		&-8 {
			transform: translateY(20px);
			transition: all .3s ease 4s;
			&::before {
				bottom: 114%;
				height: 178px;
			}
			&::after {
				bottom: 268px;
				left: 48.2%;
			}
			left: 26.1%;
			span {
				max-width: 153px;
			}
		}

	}
}