mixin performance()
	section.performance.noise-gradient
		.container
			h2.performance__title Включение при нажатии, отличный результат!
			p.performance__subtitle
				| Bosch GO — первая в мире смарт-отвертка с технологией Push & Go. Для старта работы достаточно
				| нажать на шуруп. Электронная муфта E-Clutch регулирует крутящий момент
				| и автоматически останавливает работу при завершении.
			ul.performance__demo.js-performance-slider-mobile
				li
					.performance__half.performance__half--first
						ul.performance__list.performance__list--first-half
							li.performance__definitions.performance__definitions--left
								span 1/4” HEX Держатель бит
							li.performance__definitions.performance__definitions--left
								span Встроенный аккумулятор (1.5 Ач) с системой защиты элементов питания (ECP)
							li.performance__definitions.performance__definitions--left
								span Электронная муфта E-Clutch для регулировки крутящего момента
						.performance__photo-inner.performance__photo-inner--right
							img.performance__img(src="img/half-grey.png" width="80" height="804")
				li
					.performance__half.performance__half--second
						.performance__photo-inner.performance__photo-inner--left
							img.performance__img(src="img/vertical-half-color.png" width="82" height="804")
						ul.performance__list.performance__list--second-half
							li.performance__definitions.performance__definitions--right
								span Включение нажатием
							li.performance__definitions.performance__definitions--right
								span Удобный прорезиненый корпус
							li.performance__definitions.performance__definitions--right
								span Переключатель реверса. Три режима работы: вперед, ручной режим, назад
							li.performance__definitions.performance__definitions--right
								span Светодиодный индикатор заряда
							li.performance__definitions.performance__definitions--right
								span Micro-USB разъем для зарядки аккумулятора
			h2.performance__title-tech Технические характеристики
			.row
				.col-md-6
					.performance__row
						span.performance__name Класс инструмента
						strong.performance__value Профессиональный
					.performance__row
						span.performance__name Максимальный крутящий момент
						strong.performance__value 5/2,5 Нм
					.performance__row
						span.performance__name Число оборотов холостого хода
						strong.performance__value 360 об./мин
					.performance__row
						span.performance__name Максимальный диаметр шурупов
						strong.performance__value 5 мм
				.col-md-6
					.performance__row
						span.performance__name Тип аккумулятора
						strong.performance__value Li
					.performance__row
						span.performance__name Напряжение аккумулятора
						strong.performance__value 3,6 В
					.performance__row
						span.performance__name Время зарядки
						strong.performance__value 90 минут
					.performance__row.performance__row--last
						span.performance__name Вес
						strong.performance__value 0,28 кг



