include ../blocks/promo/promo
include ../blocks/features/features
include ../blocks/demo/demo
include ../blocks/performance/performance
include ../blocks/features-more/features-more
include ../blocks/in-complect/in-complect
include ../blocks/reviews/reviews
include ../blocks/dilers/dilers
include ../blocks/footer/footer
include ../blocks/about-company/about-company
include ../blocks/promo-video/promo-video

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content="width=device-width, initial-scale=1")
    meta(name='format-detection', content='telephone=no')
    block title
      title Home

    block head
      link(rel="stylesheet" href="css/style.css")

  body
    +promo
    +features
    +demo
    +performance
    +features-more
    +in-complect
    +reviews
    +about-company
    +dilers
    +footer
    +promo-video

    block js_libs
      script(src="js/libs.js")
    script(src="js/main.js")
    script(src="https://www.youtube.com/iframe_api")
