// В этом файле должны быть стили для БЭМ-блока .in-complect , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.in-complect {
	padding-top: 27px;
	padding-bottom: 23px;
	text-align: center;
	@media (min-width: $screen-md) {
		padding-top: 33px;
		padding-bottom: 0;
	}
	@media(min-width: $screen-xl) {
		padding-top: 72px;
	}
	&__main-slider {
		position: relative;
		z-index: 1;
		font-size: 0;
		margin-top: 30px;
		@media (min-width: $screen-md) {
			margin-top: 41px;
		}
		@media(min-width: $screen-xl) {
			margin-top: 92px;
		}
	}
	&__photos {
		margin-bottom: 15px;
	}
	&__title {
		margin-bottom: 0;
		text-align: center;
	}
	&__togle {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	&__toggle-slide {
		flex: none;
		border: none;
		outline: 1px solid #005691;
		max-width: 133px;
		padding: 13px 10px 14px 10px;
		@media (min-width: $screen-md) {
			max-width: 243px;
			padding: 13px 32px 14px 32px;
		}
	}

	&__has {
		text-align: left;
		@media (min-width: $screen-md) {
			padding-top: 51px;
			padding-left: 18px;
		}
		@media(min-width: $screen-xl) {
			padding-top: 183px;
			margin-left: -43px;
		}
	}
	&__item {
		position: relative;
		margin-bottom: 13px;
		padding-left: 24px;
		font-size: 14px;
		line-height: 1.363;
		&::before {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			bottom: 4px;
			left: 0;
			background-color: #005691;
		}
	}
}