.features {
	padding-top: 30px;
	overflow: hidden;
	&__inner  {
		display: flex;
		min-height: 459px;
	}
	&__img-inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: -40px;
	}
	&__title {
		margin-bottom: 24px;
	}
	&__vertical-img {
		img {
			position: absolute;
			top: 0;
			right: -56px;
			bottom: 0;
			z-index: 1;
		}
	}
	&__subtitle {
		margin-bottom: 38px;
	}
	&__subject {
		margin-bottom: 0;
		line-height: 2.3;
	}
	&__description {
		line-height: 1.428;
		margin-bottom: 0;
	}
	&__item {
		margin-bottom: 22px;
	}
}