mixin features()
	section.features.noise-gradient
		.container.features__content
			h2.features__title Первая инновационная аккумуляторная отвертка Bosch GO
			p.features__subtitle
				| Bosch GO – это высокая эффективность при малых размерах. Инструмент легче, удобнее
				| и компактнее шуруповерта. При этом
				| он не требует больших усилий – закручивает и раскручивает шуруп одним надавливанием. Bosch Go – отличный помощник в домашнем хозяйстве, ремонте и строительстве.
			.features__inner
				.row.w-100
					.col-8.col-sm-9.col-xl-8
						.row.justify-content-sm-between.align-content-justify-content
							.col-md.col-xl-auto
								.features__item
									h3.features__subject Мощная
									p.features__description
										| В 4 раза мощнее, чем
										| любая другая  отвертка такого же размера

							.col-md.col-xl-auto
								.features__item
									h3.features__subject Точная
									p.features__description
										| Электронная муфта
										| E-clutch остановит инструмент в нужный момент

							.col-md.col-xl-auto
								.features__item
									h3.features__subject Удобная
									p.features__description
										| Удобное управление — нажми и работай

					.col-sm-3.col-xl-4
						.features__vertical-img
							.features__img-inner
								img(src="img/vertical.png")