mixin features()
	.features
		.container
			h2.features__title Первая инновационная аккумуляторная отвертка Bosch GO
			p.features__subtitle
				| Bosch GO – это высокая эффективность при малых размерах. Инструмент легче, удобнее
				| и компактнее шуруповерта. При этом
				| он не требует больших усилий – закручивает и раскручивает шуруп одним надавливанием. Bosch Go – отличный помощник в домашнем хозяйстве, ремонте и строительстве.
			.row
				.col-8.col-sm-9
					.row.justify-content-sm-between
						.col-md
							.features__item
								h3.feature__title Мощная
								p.features__description
									| В 4 раза мощнее, чем
									| любая другая  отвертка такого же размера

						.col-md
							.features__item
								h3.feature__title Точная
								p.features__description
									| Электронная муфта
									| E-clutch остановит инструмент в нужный момент

						.col-md
							.features__item
								h3.feature__title Удобная
								p.features__description
									| Удобное управление — нажми и работай

				.col